<li id="task-<%= task.id %>" class="list-group-item">
  <div class="form-check">
    <input id="toogle_task"  update-task-status-url="<%= send(url, @list, task) %>" type="checkbox"
            data-status=<%= task.done? %> class="form-check-input">
    <label class="form-check-label" for="toogle_task"><%= task.title %></label>
  </div>
</li>
